<div fxLayout="column" class="components-container-gt-xs" [ngClass]="themeColor" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Featured Table</h1>

            <mat-form-field floatPlaceholder="never" class="favouriteTeam">
                <mat-label>Select Favorite Team</mat-label>
                <mat-select (selectionChange)="selectTheme($event)">
                    <mat-option *ngFor="let row of teamList" [value]="row.teamClass">{{row.teamName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button class="back-btn" *ngIf="showList" (click)="getBackToTable()">Back to Table
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </mat-toolbar>

        <div *ngIf="showTable">
            <div class="example-header"  style="padding: 0 20px;">
                <mat-form-field floatPlaceholder="never" style="color: black; width: 90%;">
                    <label>
                        <input matInput label="Filter" #filter placeholder="Filter Data...">
                    </label>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="false" matTooltip="Download XLSX"
                        class="fileDownload"
                        (click)="downloadXLSX(columnsToDisplay)" [style.marginLeft.px]="10">
                    <mat-icon>file_download</mat-icon>
                </button>
            </div>

            <div class="table-container example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <ng-container matColumnDef="season">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Season</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.season}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.date}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Host Venue</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row?.city}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="headerNames,sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: headerNames;" (click)="getSelectedData(row)"></mat-row>
                </mat-table>
                <mat-paginator #paginator
                               [length]="columnsToDisplay?.length"
                               [pageIndex]="0"
                               [pageSize]="10"
                               [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>

        <div class="mat-table">
            <ng-container *ngIf="showList">
                <div class="mat-header-row">
                    <div class="mat-header-cell">Key</div>
                    <div class="mat-header-cell">Value</div>
                </div>
                <div class="mat-row" *ngFor="let dta of selectedData | keyvalue">
                    <div class="mat-cell">{{dta.key}}</div>
                    <div class="mat-cell">{{dta.value}}</div>
                </div>
            </ng-container>
        </div>
    </div>
</div>


