<div fxLayout="column" class="components-container-gt-xs" [ngClass]="themeColor"
     [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Predictor</h1>
        </mat-toolbar>


        <mat-vertical-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup" novalidate>
                    <ng-template matStepLabel>Select First Team</ng-template>
                    <mat-form-field floatLabel="never" class="example-full-width">
                        <mat-label>Select Team1</mat-label>
                        <mat-select formControlName="team1">
                            <mat-option *ngFor="let team of teamList" [value]="team.teamClass">
                                <span>{{team.teamName}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Select Second Team</ng-template>
                    <mat-form-field>
                        <mat-label>Select Team2</mat-label>
                        <mat-select formControlName="team2">
                            <mat-option *ngFor="let team of teamList" [value]="team.teamClass">
                                <span>{{team.teamName}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>


                </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Select Vanue</ng-template>
                    <mat-form-field>
                        <mat-select formControlName="venue">
                            <mat-option *ngFor="let venue of venueList" [value]="venue">
                                <span>{{venue}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="getMatchData()">Next</button>
                </div>
            </mat-step>

            <mat-step [stepControl]="fourthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Select Team bat first</ng-template>
                    <mat-form-field>
                        <mat-select formControlName="firstBat">
                            <mat-option *ngFor="let row of BatFirstList" [value]="row">
                                <span>{{row}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" [disabled]="!fourthFormGroup.valid"
                        (click)="getPredictionData(fourthFormGroup)">Submit
                </button>
            </mat-step>


        </mat-vertical-stepper>

    </div>
</div>